.footerBottom {
    z-index: 9999;
    text-align: right;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

@media (max-width: 992px) {
    .footerBottom {
        font-size: 1rem;
    }

    .footerBottom ul {
        flex-direction: column;
        gap: 0.5rem;
        list-style-type: none;
    }
}